<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickBrake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QuickBrake.Properties.Settings>
            <setting name="HandBrakeCLI" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="Suffix" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="SaveLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioQueue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Encoder" serializeAs="String">
                <value>Auto</value>
            </setting>
        </QuickBrake.Properties.Settings>
    </userSettings>
</configuration>