<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Infragistics.Themes.MetroDark.Wpf" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net472" />
  <package id="neolib" version="0.1.0" targetFramework="net472" />
  <package id="SharpShell" version="2.7.1" targetFramework="net472" />
</packages>